@import '../../../../styles/variables.scss';

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $blanco;
    box-shadow: 0 0 0 3000px rgba(0, 0, 0, 0.3);
    padding: 20px 20px 30px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.closeMobileNavbarButton{
    background: none;
    border: none;
    color: $azulOscuro;
}

.closeMobileNavbarIcon{
    width: 27px;
}

.navbarList{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 30px auto 0;
}

.loginNavbarItem, .registerNavbarItem{
    width: 47%;
    border-radius: 15px;
    text-align: center;
    font-size: .95rem;
    font-weight: 600;
    padding: 6px 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.loginNavbarItem{
    background: linear-gradient(90deg, $azulClaro 40%, $celeste 100%);
}

.loginLink, .registerLink{
    text-decoration: none;
}

.loginLink{
    color: $blanco;
}

.registerLink{
    color: $azulOscuro;
}

@media(width>=768px){
    .navbar{
        padding: 20px 20px 30px;
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 35px;
    }

    .closeMobileNavbarIcon{
        width: 35px;
    }

    .navbarList{
        margin: 50px auto 0;
    }

    .loginNavbarItem, .registerNavbarItem{
        width: 48%;
        border-radius: 20px;
        font-size: 1.4rem;
        padding: 8px 0;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
    }
}